section.footer-banner.section-wrapper-text
  div.footer-banner__container
    p.footer-banner__text.text <span>Ceramic Pro ION</span> — это удивительный продукт, который, несомненно, сделает ваших клиентов счастливыми и довольными. И что еще лучше, <span>ION</span> — это система, с которой вам понравится работать благодаря характеристикам продукта, которые важны для вас как для профессионала.