@use "src/styles/mixins";

.burger-menu {
  @include mixins.flex(space-between, null, column);
  position: fixed;
  inset: 0;
  background-color: var(--black);
  padding: 20px 30px;
  z-index: 1000;
  transition: transform var(--tr-dur) var(--tr-tf);
  transform: translateX(100%);
  
  &__languages {
    @include mixins.flex(center);
    gap: 20px;
    
    & a:first-child {
      background-image: url("../../assets/uz.png");
    }
    & a:last-child {
      background-image: url("../../assets/ru.png");
    }
    
    
    &-lang {
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  
  &.menu-is-open {
    transform: none;
  }
  
  &__logo {
    height: 60px;
    width: 140px;
    object-fit: contain;
    object-position: center;
  }
  
  &__close-button {
    position: absolute;
    top: 7px;
    right: 17px;
    
    svg path {
      transition: stroke var(--tr-dur) var(--tr-tf);
    }
    
    &:active {
      svg path {
        stroke: var(--main-pink);
      }
    }
  }
  
  &__nav {
    &-list {
      li:first-child a {
        color: var(--main-pink);
      }
    }
    &-item {
      &-link {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 2.5;
        color: var(--white);
        transition: color var(--tr-dur) var(--tr-tf);
        
        &:active {
          color: var(--main-pink);
        }
      }
    }
  }
  
  .socials {
    align-self: center;
  }


  .active-nav {
    font-weight: 600;
    color: var(--black);
    background-color: var(--main-pink);
  }
}