include ../../../components/label-links/index

- const links = [
-   {
-     label: 'Оставить заявку',
-     href: '#',
-     icon: '<svg id="chat" width=100 height=100 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.67 199.18">\n'+
-'              <path fill="#dddddd" class="cls-1" d="M184.54,187.54a13.75,13.75,0,0,0,1.09-10.13l-8.1-29.18.69-1.32a102.9,102.9,0,0,0,11.7-47.69,100.81,100.81,0,0,0-27.8-70.15C144.19,10.33,120.34,0,95,0S45.76,10.32,27.83,29.05A100.84,100.84,0,0,0,0,99.19a103.09,103.09,0,0,0,11.69,47.64C23.88,170.07,44,187,68.37,194.4a90.77,90.77,0,0,0,72.27-8.23l1.27-.72,27.93,8.46a12.3,12.3,0,0,0,7.06,0A12.81,12.81,0,0,0,184.54,187.54Zm-7.14-5.06,0,.1a4,4,0,0,1-5.11,2.63l-29.53-9a4.17,4.17,0,0,0-3.51.44h0a83.13,83.13,0,0,1-88.24.15A89.3,89.3,0,0,1,11.35,121.6,93,93,0,0,1,20.7,53.28C45,10.5,98-3.69,139,21.66c19.84,12.27,33.91,31.88,39.63,55.22a93.11,93.11,0,0,1-9.36,68.32,4.73,4.73,0,0,0-.45,3.66l8.65,31.08A4.4,4.4,0,0,1,177.4,182.48Z" transform="translate(0.37 0.38)"></path>\n'+
-'              <rect fill="#dddddd" x="52.48" y="67.19" width="85.53" height="10.41"></rect>\n'+
-'              <rect fill="#dddddd" x="52.48" y="95.94" width="85.53" height="10.41"></rect>\n'+
-'              <rect fill="#dddddd" x="52.48" y="125.64" width="71.09" height="10.41"></rect>\n'+
-'              <path fill="#dddddd" d="M165.86,409.7H119.58a10,10,0,1,0,0,20h46.28a10,10,0,0,0,0-20Z" transform="translate(1.31 0)"></path>' +
-'           </svg>'
-   },
-   {
-     label: 'Написать в телеграм',
-     href: '#',
-     icon: '<svg id="airplane" width=100 height=100 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 935.59 935.05">\n'+
-'             <path fill="#dddddd" d="M764.89,748.11,935.45,31.76c2.07-8.32-1.62-18.09-10.12-26.93C919,.88,909.52-2.56,899.16,2.62L12.34,446C5.2,451.09.43,461.25.43,467.69c0,9.1,8,16.58,14.87,21.35L219,567.11a22,22,0,0,0,17.78-1,26.11,26.11,0,0,0,13.09-13.61c4.57-11.42-2.27-25.78-14.63-30.72L79.93,462.09l21.37-10.63L789.55,109.2,349,553.59c-5.32,5.31-7.2,9.63-7.2,16.5V911.42c0,8.51,6.55,18.09,16,23.63h7.59c5.46,0,13-3.91,19.3-10L552.88,690.28l7.73,3.25,169.18,71.05a45.87,45.87,0,0,1,7.55,2c.77.25,3,1,3.81,1.17,6.18,0,7.54,0,12.08-2.3l.29-.14,1.09-.44C759.48,763.3,761.75,757.49,764.89,748.11ZM389,838.51V622.74l118.89,48.44ZM724.36,707.28,394.54,573.87l11.22-11.21L868.88,99.54Z"></path></svg>',
-   },
-   {
-     label: 'Позвонить',
-     href: '#',
-     icon: '<svg id="phone" width=100 height=100 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.23 500">\n'+
-'            <path fill="#dddddd" d="M424,151.09A39.11,39.11,0,0,0,408.63,98L239.82,4.86a39.11,39.11,0,0,0-53.08,15.33L5.44,348.72A39.11,39.11,0,0,0,20.77,401.8L190,495.17a39.06,39.06,0,0,0,30.12,3.16,37.65,37.65,0,0,0,22.65-18.81L424,151.09ZM230.73,21.33l168.81,93.16A20.28,20.28,0,0,1,407.49,142l-11.94,21.64L191.27,50.92l11.94-21.64A20.28,20.28,0,0,1,230.73,21.33ZM386.45,180.12,261.55,406.46,57.27,293.73,182.18,67.39ZM214.58,480.33A19.88,19.88,0,0,1,199,478.7L29.86,385.33a20.28,20.28,0,0,1-7.95-27.52L48.18,310.2,252.46,422.93l-26.27,47.61-.13.25A19,19,0,0,1,214.58,480.33Z" transform="translate(-0.58)"></path><path fill="#dddddd" d="M157.09,399.35l-38.11-21a9.41,9.41,0,1,0-9.09,16.47l38.11,21a9.41,9.41,0,0,0,9.09-16.47Z" transform="translate(-0.58)"></path></svg>'
-   },
-];

div.label-socials.section-wrapper
  +label-links('label-socials', links)