include product/index

- const _products = [
-   {
-     img: "../images/ion-base-coat.png", 
-     title: "ION <span>BASE COAT</span>", 
-     descr: "Это первая стадия покрытия ION. Он обеспечивает толщину покрытия, которое отвечает за многие защитные качества продукта, такие как стойкость к окислению и коррозии, стойкость к истиранию, защита от ультрафиолета и так далее.<br><br> Однако его производительность сильно снижается без второй ступени. Это постоянное покрытие, которое можно удалить только интенсивной полировкой."
-   },
-   {
-     img: "../images/ion-top-coat.png",
-     title: "ION <span>TOP COAT</span>",
-     descr: "Это второй этап покрытия ION. Он активирует реакцию ионного обмена и обеспечивает гидрофобность, которая отвечает за такие качества, как отталкивание грязи, эффект самоочищения, улучшенный блеск и многие другие.<br><br> В отличие от своего предшественника из поколения 9H, ION Top Coat является полнотелым покрытием, а это значит, что оно имеет собственную толщину, что значительно улучшает его защитные свойства. В довершение всего, он имеет усовершенствованную, более прочную и эффективную молекулярную структуру, отвечающую за гидрофобность."
-   },
-];

section.products
  div.products__top.section-wrapper-text
    h3.products__title.section-title <span>Продукты</span>
    p.products__descr.text
      |Система защиты поверхности <span>Ceramic Pro ION</span> состоит из двух продуктов. Оба они должны применяться в правильной последовательности, чтобы активировать процесс ионного обмена и получить максимальную отдачу от нашей новой технологии.  
  div.products__bottom.section-wrapper
    ul.product__list
      each product in _products
        +product(product.img, product.title, product.descr)