mixin hero-slide-1(title, descr)
  div.hero-slide-1
    h2.hero-slide-1__title #{title}
    p.hero-slide-1__descr #{descr}
    //primary-button component
    | primary-button
    //socials
    | socials