mixin product(img, name)
  div.splide__slide.product-card
    img(src=img, alt=name + ' image', class="product-card__img")
    h3.product-card__name= name
    a.product-card__link.arrow-link(href="#") Подробнее
  