extends ../../components/base-template

block content
  //hero
  include hero/index
  //descr
  include description/index
  //benefits
  include benefits/index
  //products
  include products/index
  //feedback-form
  include ../../components/feedback/index
  include ../../components/hr/index
  //social-link
  include ../../components/label-socials/index