@use './directions-slides/directions-slide';
@use 'src/styles/vars';

.directions {
  .splide__arrow {
    top: 90%;
    &--prev {
      left: initial;
      right: 200px;
    }

    &--next {
      right: 120px;
    }

    scale: 2;
    background: transparent;
  }
  
  @media (max-width: vars.$mob-width) {
   & {
     .splide__arrow {
       top: 95%;
       scale: 1.5;

       &--prev {
         right: 80px;
       }

       &--next {
         right: 20px;
       }
     }
   }
  }
}