-const slides = [
-   {
-     title: "Авто и <span>мото техника</span>", 
-     descr: "Поездка становится более расслабляющей, когда вы уверены в своем автомобиле и его защитном покрытии. Керамика Про, применяемая в особых условиях высококлассными специалистами, обеспечивает максимально эффективную защиту вашего автомобиля и мотоцикла.",
-     img: "images/dir-slide-1.png"
-   },
-   {
-     title: "Авиационная <span>техника</span>", 
-     descr: "Наши многофункциональные покрытия предназначены для авиации и обеспечивают превосходную защиту всех поверхностей самолета. После тщательной подготовки и полировки Ceramic Pro создает тонкий и прозрачный слой на различных материалах.",
-     img: "images/dir-slide-2.png"
-   },
-   {
-     title: "Гидро <span>техника</span>", 
-     descr: "Ceramic Pro Marine — это линейка экологически чистых продуктов, заменяющая устаревшие противообрастающие покрытия и снижающая сопротивление при установке на водные суда. Антипригарная и очень гладкая поверхность – Ceramic Pro  не оставляет шансов для роста морской среды.",
-     img: "images/dir-slide-3.png"
-   },
-   {
-     title: "Обувь и<span> одежда</span>", 
-     descr: "В условиях быстро меняющихся модных тенденций стильная одежда и ценные аксессуары являются инвестицией в личный имидж. Защитите любимую одежду, обувь и сумки с помощью передовой, безопасной для здоровья нанокерамической технологии.",
-     img: "images/dir-slide-4.png"
-   },
-   {
-     title: "Офисы и <span>строения</span>", 
-     descr: "Общественная инфраструктура подвергается непрерывной эксплуатации, которая в конечном итоге возьмет свое. Покрытия Ceramic Pro продлевают срок службы и отдаляют сроки ремонта различных объектов частного и общественного значения.",
-     img: "images/dir-slide-5.png"
-   },
-   {
-     title: "Дома и <span>квартиры</span>", 
-     descr: "Дом — это место, где вы проводите большую часть своего времени. Он должен быть убежищем от хлопот, и утомительных будней. Чистое, безопасное и уютное домашнее хозяйство никогда не было более возможным благодаря защите Ceramic Pro Home",
-     img: "images/dir-slide-6.png"
-   },
-];

section.directions.splide
  div.splide__arrows
    div.splide__arrow.splide__arrow--next(aria-controls="splide02-track")
      <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M43.0607 13.0607C43.6464 12.4749 43.6464 11.5251 43.0607 10.9393L33.5147 1.3934C32.9289 0.807611 31.9792 0.807611 31.3934 1.3934C30.8076 1.97919 30.8076 2.92893 31.3934 3.51472L39.8787 12L31.3934 20.4853C30.8076 21.0711 30.8076 22.0208 31.3934 22.6066C31.9792 23.1924 32.9289 23.1924 33.5147 22.6066L43.0607 13.0607ZM42 10.5L0 10.5V13.5L42 13.5V10.5Z" fill="#EC1D91"/>
      </svg>
    div.splide__arrow.splide__arrow--prev(aria-controls="splide02-track")
      <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M43.0607 13.0607C43.6464 12.4749 43.6464 11.5251 43.0607 10.9393L33.5147 1.3934C32.9289 0.807611 31.9792 0.807611 31.3934 1.3934C30.8076 1.97919 30.8076 2.92893 31.3934 3.51472L39.8787 12L31.3934 20.4853C30.8076 21.0711 30.8076 22.0208 31.3934 22.6066C31.9792 23.1924 32.9289 23.1924 33.5147 22.6066L43.0607 13.0607ZM42 10.5L0 10.5V13.5L42 13.5V10.5Z" fill="#EC1D91"/>
      </svg> 
  div.splide__track
    ul.splide__list
      each slide in slides
        +directions-slide(slide.title, slide.descr, slide.img)