@use 'src/styles/mixins';
@use 'src/styles/vars';

.feature-card {
  background-color: var(--greyEC);
  flex: 1 1 300px;
  padding: 30px;
  
  &__title {
    @include mixins.flex(start, center);
    flex-flow: row-reverse;
    font-size: 25px;
    color: var(--grey38);
    margin-bottom: 30px;
    
    svg {
      margin-right: 15px;
    }
  }
  
  &__descr {
    color: var(--grey38);
    line-height: 1.5;
    max-width: 330px;
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      padding: 20px;
      
      &__title {
        margin-bottom: 15px;
        font-size: 20px;
        
        svg {
          height: 40px;
          margin-right: 7px;
        }
      }
    }
  }
}