section.preview.section-wrapper-text
  h2.preview__title.section-title Ионнообменная технология
  div.preview__image
  p.preview__text.text
    |В двух словах, <span>ION Exchange</span> — это сложный химический процесс, который позволяет значительно увеличить плотность вещества и активировать дополнительные свойства. На базовом уровне это можно описать как замену ионов в исходном веществе более крупными ионами из вторичного вещества, что уменьшает свободное пространство между молекулами и усиливает химическую связь. Эта технология используется при производстве сверхтвердых экранов для современных смартфонов. Другими словами, применительно к Ceramic Pro это химическая закалка стеклоподобного нанокерамического покрытия.<br><br>
    |Мы гордимся тем, что первыми в отрасли начали использовать технологию <span>ION Exchange</span> для максимального удовлетворения потребностей наших клиентов и продвижения стандартов защиты поверхности на новый уровень!