.preview {
  background-color: black;
  padding-block: var(--section-offset);
  
  &__title {
    margin-bottom: var(--section-title-offset);
    color: var(--white);
    text-align: center;
  }
  
  &__subtitle {
    margin-bottom: var(--section-title-offset);
    text-align: center;
  }
  
  &__image {
    background-image: url("../../assets/ion-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 65vw;
    max-height: 600px;
  }
  
  &__text {
    color: var(--grey80);
    &:not(:last-child) {
      margin-bottom: var(--section-title-offset);
    }
  }
}