.preview {
  background-color: var(--black);
  padding-top: var(--section-offset);
  padding-bottom: var(--section-title-offset);
  
  &__title {
    margin-bottom: var(--section-title-offset);
    color: var(--white);
    text-align: center;
  }
  
  &__image {
    background-image: url("../../assets/ion-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 65vw;
    max-height: 600px;
    margin-bottom: 20px;
  }
  
  &__text {
    color: var(--grey66);
  }
}