li.splide__slide.slide-four.section-wrapper
  div.slide-four__container  
    h2.slide-four__title Професиональная линейка продукции для детейлинга в Узбекистане
    h2.slide-four__title.slide-one__title--mob Професиональная линейка продукции
    p.slide-four__descr 
    button.primary-button(data-modal-form) Сотрудничать
      span
    include ../../../../components/socials/index