@use "src/styles/mixins";
@use "src/styles/vars";
@use "src/components/benefit-text-card/benefit-text-card";

.benefits {
  padding-block: var(--section-offset);
  &__container {
    @include mixins.flex(space-between, null, row);
  }
  
  &__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: var(--section-title-offset);
  }
  
  &__img {
    height: 350px;
    object-fit: contain;
    object-position: center;
  }
  
  &__wrapper {
    @include mixins.flex(space-between, null, column);
    row-gap: 30px;
  }
  
  &__left {
    text-align: end;
    
    .benefit-text-card {
      &__title {
        padding-left: 0;
        padding-right: 20px;
        &::before {
          left: initial;
          right: 0;
        }
      }
    }
  } 
}

@media (max-width: vars.$tab-width) {
  .benefits {
    &__container {
      justify-content: center;
      gap: 10vw;
    }
    
    &__title {
      font-size: 18px;
    }
    
    &__img {
      display: none;
    }

    .benefit-text-card {
      row-gap: 10vw;
     &__title {
       text-align: start;
       padding-left: 20px;
       padding-right: 0px;
       font-size: 16px;
       &::before {
         left: 0;
         right: initial;
       }
     }
    }
  }
}

