@use 'src/styles/mixins';
@use "src/styles/vars";

.hero {
  background-image: url("../../assets/ion-hero-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  &__container {
    @include mixins.flex(center, center, column);
  }
  
  &__title {
    object-fit: contain;
    filter: drop-shadow(0px 0px 20px black);

  }
  
  &__descr {
    @include mixins.font(32px, 300, null, white);
    filter: drop-shadow(0px 0px 10px black);
  }
  
  &__content-wrapper {
    width: 800px;
  }
}