section.hero.section-wrapper
  div.hero__container
    div.hero__content-wrapper
      img.hero__title(src="/images/ion-hero.png" alt="ceramic prop logo")
      p.hero__descr Поверхность нового поколения технология защиты в Узбекистане