form(class="form" data-feedback)
  input(class="form__input" type="text" placeholder="Ваше имя")
  input(class="form__input" type="tel" placeholder="Номер телефона")
  input(class="form__input" type="text" placeholder="Город")
  button(class="form__button primary-button" type="submit") Отправить
    span