extends ../../components/base-template

block title 
  title Ceramic-Pro
block content
  //hero
  include hero/index
  //feedback
  include ../../components/feedback/index
  //label-socials
  include ../../components/hr/index
  include ../../components/label-socials/index

