extends ../../components/base-template

block title 
  title Ceramic-Pro
block content
  //hero
  include hero/index
  include ../../components/hr/index
  //feedback
  include ../../components/label-socials/index

