extends ../../components/base-template

block content
  //hero
  include hero/index
  //text
  include text/index
  //text-with-image
  include text-with-img/index
  //sertifications
  include sertification/index
  //tests
  include tests/index
  //video
  section.section-wrapper.video
    div.video-wrapper
      <iframe width="1519" height="591" src="https://www.youtube.com/embed/cxzxzGiK5-w" title="Ceramic Pro Uzbekistan. Профессиональная линейка нанокерамической продукции" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  //feedback
  include ../../components/feedback/index