@use "src/styles/index";

@use "src/components/back-page-button/back-page-button";

@use "hero/hero";
@use "text/text";
@use "text-with-img/text-with-img";
@use "sertification/sertification";
@use "tests/tests";

.video {
  padding-block: var(--section-offset);

  background-color: white;
}

.video-wrapper {
  display: flex;
  justify-content: center;
}