include ../../../components/text-card/index

-const texts = [
-   {
-     title: 'Твердость', 
-     text: 'Определяет способность покрытия противостоять царапинам и подобным повреждениям. Чтобы один объект поцарапал другой объект, это должно быть сложнее. Итак, высокая твердость означает меньшее количество объектов, которые могут повредить покрытие. Ceramic Pro 9H получил свое название по шкале твердости карандаша, где 9H — это максимум. ION тверже 9H, поэтому его твердость зашкаливает по шкале твердости карандаша.'
-   },
-   {
-     title: 'Гидрофобность', 
-     text: 'Это способность покрытия отталкивать жидкости и различные загрязнений, которые могут в них содержаться. Такой эффект объясняется наличием на поверхности специфических микроскопических структур, похожих на крошечные волоски, которые заставляют капли сохранять сферическую форму, что препятствует их сцеплению с поверхностью. В отличие от «волосков», используемых в технологии 9H, структура ION Top больше похожа на крошечные пирамиды, что делает их значительно более прочными, эффективными и долговечными.'
-   },
-   {
-     title: 'Стойкость к истиранию', 
-     text: 'Это уникальная особенность, отсутствующая в предыдущих поколениях нанокерамических защитных покрытий. Собственно говоря, абразивное повреждение является ахиллесовой пятой таких покрытий. Однако у ION отсутствует эта слабость, что делает его почти неуязвимым для любого типа повреждений.'
-   },
-   {
-     title: 'Толщина', 
-     text: 'Является одним из важнейших свойств нанокерамического покрытия. Чем она толще, тем мощнее защитное действие. Однако, если он слишком толстый, он становится хрупким, поэтому необходим баланс. ION идеально сбалансирован: 1 слой ION Base равен 2+ слоям 9H и работает соответственно.'
-   },
-   {
-     title: 'Плотность', 
-     text: 'Важна для защиты от химикатов и травления загрязняющими веществами. Высокая плотность гарантирует отсутствие пор или других дефектов, через которые нежелательные вещества могут попасть на поверхность под покрытием.'
-   },
-];

section.information.section-wrapper
  div.information__container
    h2.information__title.section-title ЧТО ДЕЛАЕТ CERAMIC PRO ION ПРЕВОСХОДНЫМ?
    ul.information__list
      each text in texts
        +text-card(text.title, text.text)
      picture
        source(media="(min-width: 900px)" srcset="/images/ion-schema-desc.png")
        img(src="/images/ion-schema-mob.jpg" alt="Изображение схемы структуры покрытия Ion")
    p.information__descr.text У каждого варианта есть свои преимущества в зависимости от поставленной конкретной задачи, однако очевидно, что <span>Ceramic Pro ION</span> превосходит почти во всех аспектах как предыдущее поколение, так и технологию PPF.
    div.information__video
      <iframe width="1519" height="591" src="https://www.youtube.com/embed/cxzxzGiK5-w" title="Ceramic Pro Uzbekistan. Профессиональная линейка нанокерамической продукции" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>