include ../../../components/text-card/index
  
-const benefits = [
-   {
-     title: 'Продвинутая технология', 
-     text: 'Технология ION Exchange делает Ceramic Pro ION одним из самых технологически продвинутых покрытий для защиты поверхности, доступных на рынке.'
-   },
-   {
-     title: 'Безупречная защита', 
-     text: 'ION почти не имеет слабых мест. Его защита практически безупречна.'
-   },
-   {
-     title: 'Экстремальная производительность', 
-     text: 'Свойства ION намного превосходят свойства предыдущего поколения и устанавливают новый стандарт защиты поверхности в отрасли.'
-   },
-   {
-     title: 'Професиональные услуги', 
-     text: 'ION доступен только для лучших, самых профессиональных членов нашей сети, которые обеспечивают только самый высокий уровень обслуживания.'
-   },
-   {
-     title: 'Контроль качества', 
-     text: 'Каждый установщик, работающий с Ceramic Pro ION, должен провести контроль качества через 7 дней после установки, чтобы убедиться, что наши клиенты наслаждаются наилучшей производительностью продукта.'
-   },
-   {
-     title: 'Сертификация', 
-     text: 'Все продукты Ceramic Pro сертифицированы SGS.'
-   },
-];

section.ion-benefits.section-wrapper
  div.ion-benefits__container
    h2.ion-benefits__title.section-title Почему стоить выбрать <span>Ceramic Pro ION</span>
    ul.ion-benefits__list
      each benefit in benefits
        +text-card(benefit.title, benefit.text)
    div.ion-benefits__triangle