div.modal-form
  h3.modal-form__title Оставьте свои данные и мы преезвоним Вам в ближайшее время
  input.modal-form__input(placeholder="Ваше имя")
  input.modal-form__input(placeholder="Номер телефона")
  input.modal-form__input(placeholder="Город, регион")
  button.modal-form__submit.pink-button(type="submit") Отправить заявку
  button.modal-form__close-button
    <svg width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M73.3867 25.5488L25.2097 73.0765" stroke="black"/>
      <path d="M74.4609 74.6841L24.0436 23.8096" stroke="black"/>
    </svg>