extends ../../components/base-template

block content
  //hero
  include hero/index
  //news-text
  include text/index
  //other news 
  include other-news/index
  include ../../components/feedback/index