@use '../../styles/mixins';
@use '../../styles/vars';

.news__article-item {
  @include mixins.flex(end, null, column, wrap);
  position: relative;
  gap: 5px;
  position: relative;
  z-index: 10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 45%;
  padding: 165px 30px 30px;
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: opacity var(--tr-dur) var(--tr-tf);
  }

  &::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 7%;
    right: 1.5%;
    background-image: url("../../assets/logo-white.png");
  }

  &:has(a:hover)::before {
    opacity: 1;
  }
  
  &-title {
    @include mixins.font(22px, 700, null, white);
  }
  
  &-link {
    color: var(--main-pink);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    width: fit-content;
    line-height: 1;
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
    
    &:hover {
      border-color: var(--main-pink);
    }
  }
  
  @media(max-width: vars.$tab-width) {
    & {
      padding: 140px 25px 25px;
      &-title {
        font-size: 18px;
      }
    }
  }

  @media(max-width: vars.$mob-width) {
    & {
      flex-basis: 100%;
    }
  }
}