@use 'src/styles/mixins';

.select-lang {
  position: relative;
  margin-right: 5%;

  a {
    display: block;
  }
  
  &-display {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    padding-right: 15px;
    @include mixins.font(14px, 300, null, var(--mid-grey));
    
    &:is(:hover, :active) {
      color: var(--main-pink);
      &::before {
        color: var(--main-pink);
      }
    }
    
    &::before {
      content: 'ᐯ';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--mid-grey);
      font-size: 12px;
      transition: transform var(--tr-dur) var(--tr-tf);
    }
    
    &.isOpen {
      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  
  &-menu {
    position: absolute;
    top: 110%;
    left: -7px;
    width: 140%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #2a2a2a;
    border-radius: 10px;
    transition: mixins.transition(var(--tr-dur), var(--tr-tf), height, opacity);
    z-index: 10;
    &.isOpen {
      height: 74px;
      opacity: 1;
    }
  }
  
  &-option {
    color: var(--white);
    padding-block: 10px;
    cursor: pointer;
    user-select: none;
    font-weight: 300;
    transition: mixins.transition(var(--tr-dur), var(--tr-tf), color, background-color);
    text-align: center;
    font-size: 14px;
    
    &:is(:active, :hover) {
      background-color: var(--white);
      color: var(--black);
    }
  }
}