section.hero.section-wrapper
  div.hero__container
    h2.hero__title.section-title Авто <span>и мото техника</span>
    p.hero__descr.text Поездка становится более расслабляющей, когда вы уверены в своем автомобиле и его защитном покрытии. Керамика Про, применяемая в особых условиях высококлассными специалистами, обеспечивает максимально эффективную защиту вашего автомобиля и мотоцикла.