@use "src/styles/vars";

.label-socials {
  background: var(--black) url('../../assets/Vector-alfa.png');
  background-size: cover;

  & a, & button {
    background: transparent;
  }
  
  & > div {
    background: transparent;
  }
}

@media (max-width: vars.$desc-width-s) {
  .label-socials {
    background-size: 250vw;
  }
}

@media (max-width: vars.$tab-width) {
  .label-socials {
    background-size: 300vw;
  }
}

@media (max-width: vars.$mob-width) {
  .label-socials {
    background-size: 450vw;
  }
}