section.hero.section-wrapper
  div.hero__container
    div.hero__left
      h3.hero__title.section-title Сертификация
      ul.hero__list
        li.hero__list-item Логотип Ceramic Pro в фотозоне студии
        li.hero__list-item Температура в студии +22 градуса
        li.hero__list-item Влажность воздуха 50-60%
        li.hero__list-item Чистота в зоне нанесения линейки Ceramic Pro
        li.hero__list-item Наличие все линейки  Ceramic Pro(9H. Top Coat. Nano Primer, Glass, Leather, Plastic, Wheel&Caliper
        li.hero__list-item Приобритение от 5 комплектов (9H+ Top Coat)
        li.hero__list-item Название студии, точный адрес и локация
    //div.hero__right
    //  h3.hero__title.section-title Ну что, посатрудничаем?
      //button.hero__button.pink-button(data-modal-form) Запросить сертификат