@use 'src/styles/mixins';
@use 'src/styles/vars';

.directions-slide {
  padding-block: 140px;
  grid-template-rows: 1fr;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  
  &__content {
    &-title {
      @include mixins.font(40px, null, null, var(--white));
      text-transform: uppercase;
      margin-bottom: var(--section-title-offset);
      
      span {
        color: var(--main-pink);
      }
    }
    
    &-descr {
      @include mixins.font(null, 300, 1.5, var(--white));
      margin-bottom: 80px;
      letter-spacing: 1px;
      word-spacing: 3px;
      max-width: 530px;
      padding-left: 100px;
    }
  }
  
  .primary-button {
    justify-self: start;
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      padding-block: 100px;
      
      &__content {
        &-title {
          font-size: 32px;
        }

        &-descr {
          font-size: 14px;
          margin-bottom: 60px;
          padding-left: 60px;
          max-width: 460px;
        }
      }
    }
  }

  @media (max-width: vars.$mob-width) {
    & {
      padding-block: 70px;

      &__content {
        &-title {
          font-size: 28px;
        }

        &-descr {
          font-size: 14px;
          margin-bottom: 40px;
          padding-inline: 40px;
          max-width: 400px;
        }
      }

      .primary-button {
        justify-self: start;
        margin-left: 40px;
      }
    }
  }
}