section.map-container.section-wrapper
  h2.map-container__title.section-title Наша <span>сеть</span>
  include ../../../components/hr/index
  div#map.full-width
  include ../../../components/hr/index
    