@use 'src/styles/mixins';
@use 'src/styles/vars';

.section-wrapper {
  display: grid;
  grid-template-columns: 1fr min(1325px, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  width: 100%;
  
  & > * {
    grid-column: 2;
  }
}

.full-width {
  grid-column: 1 / -1;
}

.full-width-mr {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.section-title {
  @include mixins.font(42px, 600, null, black);

  span {
    color: var(--main-pink);
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      font-size: 36px;
    }
  }

  @media (max-width: vars.$mob-width) {
    & {
      font-size: 32px;
    }
  }
}

.primary-button {
  position: relative;
  @include mixins.font(null, 600, null, white);
  border-left: 1px solid var(--main-pink);
  padding: 15px 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 20%;
    background-color: var(--main-pink);
    top: 0;
    left: 0;
  }

  span {
    position: absolute;
    display: inline-block;
    top: -10%;
    left: -10%;
    width: 130%;
    height: 130%;
    background-color: var(--main-pink);
    z-index: -1;
    translate: -100%;
    transform: skew(43deg);
    transition: translate var(--tr-dur) var(--tr-tf);
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: var(--main-pink);
    bottom: 0;
    left: 0;
  }

  &:hover {
    span {
      translate: 0;
    }
  }
  
  @media (max-width: vars.$mob-width) {
    & {
      font-size: 14px;
    }
  }
}

.arrow-link {
  @include mixins.flex(null, center);
  transition: color var(--tr-dur) var(--tr-tf);
  &::after {
    content: '🠒';
    display: inline-block;
    margin-left: 7px;
    font-size: 32px;
  }
}