:root {
  --main-pink: #EC1D91;
  
  --black: #0C0C0C;
  --white: white;
  
  --light-grey: #737373;
  --dark-grey: #D9D9D9;
  
  --black-white-gradient: linear-gradient(168.59deg, #060606 2.67%, rgba(12, 11, 12, 0.5) 89.31%);
  
  --tr-dur: 200ms;
  --tr-tf: ease-in;
}