section.text-img.section-wrapper-text
  div.text-img__container
    div.text-img__text
      h3.text-img__text-title Наша миссия
      p.text-img__text-text.text Наша миссия — изменить представление об эксплуатации, уходе и защиты поверхностей, а также повысить эффективность многих процессов в различных отраслях и сферах деятельности человека за счет внедрения инновационных технологий покрытий и ППФ с улучшенными свойствами. Наша технология предназначена для оптимизации, снижения загрязнения окружающей среды и потребления природных ресурсов.
      h3.text-img__text-title Бережем экологию
      p.text-img__text-text.text Наши продукты значительно сокращают потребность в агрессивных химикатах для обслуживания, таким образом, вносят большой вклад в экологию. Покрытия Ceramic Pro не содержат веществ, вредных для окружающей среды, здоровья людей и животных.
      h3.text-img__text-title Маркетинг
      p.text-img__text-text.text Отдел маркетинга Ceramic Pro Uzbekistan использует современные и инновационные методы для продвижения продуктов и услуг. Благодаря этому о продукте узнают все больше и большее колличество людей.  Активно развиваемся в социальных сетях, запускаем таргетированную рекламу на целевых пользователей и помагаем нашим партнерам вести правильную коммуникацию с клиентом.
    div.text-img__img