extends ../../components/base-template

include directions/directions-slides/index

block title 
  title Ceramic-Pro
block content
  //hero
  include hero/index
  //about-us
  include about-us/about-us
  //directions
  include directions/index
  //products
  include products/index
  //label-nav
  include label-nav/index
  //benefits
  include benefits/index
  //label-socials
  include ../../components/label-socials/index
  //news
  include news/index
  //feedback
  include feedback/index