a.logo(href='/')
  img(src="/images/logo.png" alt="Логотип Ceramic-pro").logo__img
  img(src="/images/kavaca_icon.png", alt="Kavaca логотип").logo__kavaca
  svg(id="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.2 405.8")
    <path d="M248.9 176.1H71.7V68.7H338V-.9L2.1-1.1v246.8h246.8v-69.6z" fill="#e91d8f"/>
    <path d="M268.3 264.8H2.1v141h69.6v-71.3H338V87.6H91.2v69.7h177.2v107.5h-.1z" fill="#fff"/>
  