@use 'src/styles/vars';

#logo-icon {
  display: none;
}

.logo__img {
  display: inline-block;
  width: 260px;
  height: 50px;
  background-image: url('../../assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: vars.$mob-width) {
  // #logo-text {
  //   display: none;
  // }
  
  // #logo-icon {
  //   display: initial;
  // }
}