mixin label-links(className, items)
  div(class= className + " label-links")
    each item in items 
      a(class= className + " label-links__link" href=item.href)
        |#{item.label}
        |!{item.icon}