@use 'src/styles/mixins';
@use 'src/styles/vars';

.label-links {
  @include mixins.flex(space-between);
  padding-block: 40px;
  &__link {
    @include mixins.flex(center, center);
    @include mixins.font(25px, 300, null, var(--white));
    white-space: nowrap;
    flex-basis: 30%;
    color: var(--mid-grey);

    transition: color var(--tr-dur) var(--tr-tf);

    svg {
      margin-left: 10px;
    }

    svg path, svg rect {
      fill: var(--mid-grey);
      transition: fill var(--tr-dur) var(--tr-tf);
    }

    &:hover {
      color: var(--white);
      svg path, svg rect {
        fill: var(--white);
      }
    }
  }
  
  @media (max-width: vars.$desc-width-s) {
    & {
      flex-direction: column;
      gap: 50px;
      
      &__link {
        flex-direction: column;
        gap: 30px;
        align-self: center;
        justify-content: center;
        min-height: 124px;
        min-width: 350px;
        svg {
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: vars.$mob-width) {
    & {
      gap: 30px;
      &__link {
        gap: 20px;
        font-size: 22px;
        min-width: 300px;
      }
    }
  }
}
  