@use 'src/styles/mixins';
@use 'src/styles/vars';

.label-links {
  @include mixins.flex(space-between);
  padding-block: 40px;
  &__link {
    @include mixins.flex(center, center);
    @include mixins.font(25px, 600, null, var(--white));
    white-space: nowrap;
    flex-basis: 30%;
    
    transition: color var(--tr-dur) var(--tr-tf);

    svg {
      margin-left: 10px;
    }

    svg path, svg rect {
      fill: var(--mid-grey);
      transition: fill var(--tr-dur) var(--tr-tf);
    }

    &:hover {
      svg path, svg rect {
        fill: var(--mid-grey);
      }
    }
  }
  
  @media (max-width: vars.$desc-width-s) {
    & {
      flex-direction: column;
      gap: 15px;
      
      &__link {
        position: relative;
        z-index: 10;
        align-self: center;
        justify-content: start;
        min-height: 124px;
        width: 300px;
        color: white;
        svg {
          position: absolute;
          z-index: -1;
          right: 30px;
          margin-left: 0;
        }
        
        &:hover {
          svg path, svg rect {
            fill: var(--light-grey);
          }
        }
      }
    }
  }

  @media (max-width: vars.$mob-width) {
    & {
      gap: 30px;
      &__link {
        font-size: 22px;
      }
    }
  }
}
  