section.banner.section-wrapper
  div.banner__container
    div.banner__img
      div.banner__img-logo
    p.banner__subtitle СТАНЬТЕ ЧАСТЬЮ БОЛЬШОЙ КОМАНДЫ В УЗБЕКИСТАНЕ
    button.banner__button.pink-button ОСТАВИТЬ ЗАЯВКУ