li.splide__slide.slide-two.section-wrapper
  div.slide-two__container
    h2.slide-two__title Более чем в 40 городах узбекистана, выбирают керамик про  
    span.slide-two__digit 40+
  div.slide-two__map.full-width-mr
  