li.splide__slide.slide-two
  h2.slide-two__title Признан профессионалами во всем мире  
  span.slide-two__digit 80
  span.slide-two__descr Более в 10 городах Узбекистана выбирают <span>Ceramic pro</span>
  