li.splide__slide.slide-two
  h2.slide-two__title Более чем в 40 городах узбекистана, выбирают керамик про  
  span.slide-two__digit 40+
  //span.slide-two__descr Более в 10 городах Узбекистана выбирают <span>Ceramic pro</span>
  