@use 'src/styles/mixins';
@use 'src/styles/vars';

.slide-two {
  position: relative;
  z-index: 10;
  padding-block: 150px;
  background-image: url("../../assets/hero-slide-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  &__title {
    @include mixins.font(var(--title), 600, 1.3, white);
    max-width: 700px;
    margin-bottom: 40px;
    letter-spacing: 2px;
  }
  
  &__digit {
    @include mixins.font(var(--digit), 600, null, var(--main-pink));
    display: inline-block;
    margin-right: 30px;
  }
  
  &__descr {
    @include mixins.font(var(--descr), 300, 1.5, white);
    display: inline-block;
    max-width: 300px;
    letter-spacing: 1px;
   
    span {
      color: var(--main-pink);
    }
  }

  &__map {
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/uzb-map-hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: -1;
  }
}

@media (max-width: vars.$tab-width) {
  .slide-two {
    padding-block: 80px;
    &__digit {
      font-size: 120px;
    }
    
    &__title {
      max-width: 600px;
      margin-bottom: 50px;
    }

  }
}

@media (max-width: vars.$mob-width) {
  .slide-two {
    &__title {
      margin-bottom: 30px;
    }

    &__map {
      background-position: center 80%;
    }
    
    &__descr {
      max-width: 220px;
    }
  }
}