extends ../../components/base-template

block content
  include ../../components/modal-form/index
  //feedback
  include ../../components/feedback/index
  include ../../components/hr/index
  //social-link
  include ../../components/label-socials/index