extends ../../components/base-template

block content
  //map-container
  include map-container/index
  //feedback
  include ../../components/feedback/index
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgPBy6mz5rkwBCekndqfwNKVcRwEFXTy0&callback=initMap&v=weekly" defer)
