section.tests.section-wrapper-text
  div.tests__container
    h3.tests__title Проводимые испытания
    ul.tests__list.text
      li.tests__list-item
        p Испытание на коррозию (ASTM B117):
        span Незатронутый
      li.tests__list-item
        p Испытание на твердость (JIS 5400):
        span Выше 9 часов
      li.tests__list-item
        p Испытание на гибкость (ASTM D522):
        span 0 мм потерь при повороте на 180°
      li.tests__list-item
        p Испытание на удар (ASTM D2794):
        span 80/80 дюймов-фунтов
      li.tests__list-item
        p Кислоты и щелочи:
        span Без видимых повреждений (JIS K5400 (1990))
      li.tests__list-item
        p Тяжелые металлы:
        span Отсутствует
      li.tests__list-item
        p Тест на токсичность (SVHC):
        span Нет токсичных веществ
    div.tests__icons
      img(src="/images/SGS.png" alt="SGS icon" height=87)
      img(src="/images/RECH.png" alt="RECH icon" height=87)
      img(src="/images/IMO.png" alt="IMO icon" height=87)