extends ../../components/base-template

block content
  //hero
  include hero/index
  //intro
  include intro/index
  //preview
  include preview/index
  //products
  include products/index
  //information
  include information/index
  //ion-benefits
  include ion-benefits/index  
  //banner
  include banner/index
  //footer-banner
  include footer-banner/index
  include ../../components/feedback/index