extends ../../components/base-template

block content
  //hero
  include hero/index
  //intro
  include intro/index
  //preview
  include preview/index
  //products
  include products/index
  //information
  include information/index
  //ion-benefits
  include ion-benefits/index
  //banner
  include banner/index
  section.section-wrapper.video
    div.video-wrapper
      <iframe width="1519" height="591" src="https://www.youtube.com/embed/cxzxzGiK5-w" title="Ceramic Pro Uzbekistan. Профессиональная линейка нанокерамической продукции" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  //footer-banner
  include footer-banner/index
  include ../../components/hr/index
  include ../../components/label-socials/index