section.intro.section-wrapper
  div.intro__container
    h2.intro__title.section-title Представляем <span>Ceramic Pro ION</span>
    p.intro__descr
      | Линейка продуктов <span>Ceramic Pro ION</span> — это следующий шаг в развитии нанокерамических покрытий для защиты поверхностей. Его главной особенностью является сочетание проверенного временем превосходного качества нанокерамических покрытий Ceramic Pro и использования технологии ионного обмена, которая придает нашему новому продукту непревзойденные свойства.<br><br>
      | <span>Ceramic Pro ION</span> не только обладает всеми преимуществами первоклассного поколения <span>Ceramic Pro 9H</span>, но и превосходит его практически во всех аспектах и обладает качеством, которое считалось невозможным для нанокерамического покрытия. А именно, выдающаяся стойкость к истиранию выводит ION в высшую лигу с точки зрения защиты от износа. <span>Ceramic Pro ION</span> — это будущее защиты поверхностей, которое проявилось сегодня!