@use "src/styles/mixins";
@use "src/styles/vars";

.intro {
  padding-block: var(--section-offset);
  grid-template-columns: 1fr min(60ch, 100% - 64px) 1fr;

  &__title {
    margin-bottom: var(--section-title-offset);
    
    span {
      white-space: nowrap;
    }
  }
  
  &__descr {
    @include mixins.font(null, 300, 1.2, var(--mid-grey));
    
    span {
      color: var(--main-pink);
      font-weight: 500;
    }
  }
}