@use "src/styles/mixins";
@use "src/styles/vars";

.intro {
  padding-block: var(--section-offset);

  &__title {
    margin-bottom: var(--section-title-offset);
    
    span {
      white-space: nowrap;
    }
  }
  
  
}