extends ../../components/base-template

block content
  //preview-product
  include preview/index
  //benefits
  include benefits/index
  //pre-footer
  include pre-footer/index
  //socials links
  include ../../components/hr/index
  include ../../components/feedback/index