@use 'src/styles/mixins';
@use 'src/styles/vars';
@use 'src/components/feature-card/feature-card';

.about-us {
  $mb: 30px;
  
  padding-block: var(--section-offset);
  
  &__container {
    background-image: url("../../assets/about-us.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
  }
  
  &__title {
    margin-bottom: var(--section-title-offset);
  }
  
  &__descr {
    @include mixins.font(null, 300, 1.5, var(--grey38));
    max-width: 40%;
    margin-bottom: 140px;
  }

  &__feature-card-list {
    @include mixins.flex(space-between, null, null, wrap);
    gap: 20px;
  }
}

@media (max-width: vars.$tab-width) {
  .about-us {
    &__container {
      background-position: top center;
      background-size: contain;
      padding-top: 52%;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__descr {
      margin-bottom: 70px;
      max-width: 70%;

    }
  }
}

@media (max-width: vars.$mob-width) {
  .about-us {
    
    &__title {
      margin-bottom: 50px;
    }

    &__descr {
      max-width: 100%;
      margin-bottom: 0;
    }

    &__feature-card-list {
      display: none;
    }
  }
}