section.about-us.section-wrapper
  div.about-us__container
    h2.about-us__title.section__title О нас
    p.about-us__descr 
      |Используя передовые нанотехнологии, мы разработали полный спектр керамических покрытий, предназначенных для решения широкого круга задач.
      |Благодаря таким качествам, как твердость 9H, постоянная и высокая гидрофобность, а также устойчивость к химическим веществам, окислению и коррозии, УФ-излучению и граффити, продукты пользуются доверием профессионалов во всем мире.
    
    //feature-card component
    | feature-card component
    | feature-card component
    | feature-card component