include ../../../components/feature-card/index
  
- const cards = [
- {
-   title: 'Модный подход', 
-   descr: 'Профессиональная линейка продукции Ceramic Pro создана мировым технологическим лидером', 
-   icon: '<svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.4837 0C14.5275 0 0 14.5437 0 32.5C0 50.4562 14.5275 65 32.4837 65C50.44 65 65 50.4562 65 32.5C65 14.5437 50.44 0 32.4837 0ZM32.5 58.5C18.135 58.5 6.5 46.865 6.5 32.5C6.5 18.135 18.135 6.5 32.5 6.5C46.865 6.5 58.5 18.135 58.5 32.5C58.5 46.865 46.865 58.5 32.5 58.5Z" fill="#EC1D91"/><path d="M34.125 16.25H29.25V35.75L46.2962 45.9875L48.75 41.99L34.125 33.3125V16.25Z" fill="#EC1D91"></path></svg>'
-   },
- {
-   title: 'Защита поверхности', 
-   descr: 'Профессиональная линейка продукции Ceramic Pro создана мировым технологическим лидером', 
-   icon: '<svg width="53" height="65" viewBox="0 0 53 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.4756 0L-0.0911255 11.8185V29.5452C-0.0911255 52.6798 18.916 63.4813 26.4756 65C34.0352 63.4813 53.0423 52.6798 53.0423 29.5452V11.8185L26.4756 0ZM26.4756 6.46885L47.1381 15.6616V29.5452C47.1381 47.6687 33.0142 56.8885 26.4756 58.9062C19.937 56.8885 5.81304 47.6687 5.81304 29.5452V15.6616L26.4756 6.46885ZM40.6239 20.0762L23.5235 37.1854L15.343 28.9974L11.1688 33.1751L23.5235 45.5413L44.792 24.2477L40.6239 20.0762Z" fill="#EC1D91"></path></svg>'
-   },
- {
-   title: 'Привлекательность', 
-   descr: 'Профессиональная линейка продукции Ceramic Pro создана мировым технологическим лидером', 
-   icon: '<svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M64.6208 13.6501L52.8125 0.511279C52.6378 0.341331 52.4387 0.205915 52.2153 0.106383C51.9925 0.00685221 51.7596 -0.0506999 51.5159 -0.067627H13.4807C13.2376 -0.0506999 13.0054 0.0075293 12.7826 0.107061C12.5605 0.206592 12.3621 0.341331 12.1875 0.511279L0.379127 13.6501C0.136731 13.927 -0.00207128 14.2486 -0.0372797 14.6149C-0.0420193 15.0117 0.0392307 15.3895 0.20647 15.749L31.0138 64.2587C31.053 64.3203 31.0957 64.3799 31.1424 64.4361C31.1891 64.4923 31.2392 64.5458 31.292 64.5959C31.3455 64.646 31.4017 64.6927 31.4613 64.7353C31.5202 64.7787 31.5818 64.8179 31.6462 64.8532C31.7098 64.8884 31.7762 64.9195 31.8445 64.9466C31.9123 64.973 31.982 64.996 32.0524 65.0143C32.1235 65.0319 32.1953 65.0461 32.2677 65.0549C32.3402 65.0644 32.4133 65.0691 32.4864 65.0691C32.5595 65.0691 32.6327 65.0644 32.7051 65.0549C32.7776 65.0461 32.8493 65.0319 32.9204 65.0143C32.9908 64.996 33.0606 64.973 33.1283 64.9466C33.1967 64.9195 33.263 64.8884 33.3267 64.8532C33.391 64.8179 33.4526 64.7787 33.5115 64.7353C33.5711 64.6927 33.6273 64.646 33.6808 64.5959C33.7336 64.5458 33.7837 64.4923 33.8304 64.4361C33.8772 64.3799 33.9198 64.3203 33.9591 64.2587L64.7664 15.749C64.9336 15.3895 65.0149 15.0117 65.0101 14.6149C64.983 14.252 64.853 13.9304 64.6208 13.6501ZM52.2776 5.13237L59.4106 13.0712H49.8299L52.2776 5.13237ZM49.1528 3.43966L46.5935 11.7441L37.1312 3.42274L49.1528 3.43966ZM42.8323 13.0881H22.1812L32.5 3.99826L42.8323 13.0881ZM27.8687 3.43966L18.4065 11.7272L15.8471 3.42274L27.8687 3.43966ZM12.7224 5.13237L15.17 13.0712H5.58928L12.7224 5.13237ZM4.85126 16.5582H16.25L27.0054 51.4279L4.85126 16.5582ZM32.5 57.4066L19.8994 16.5582H45.1005L32.5 57.4066ZM37.9979 51.4144L48.75 16.5582H60.1453L37.9979 51.4144Z" fill="#EC1D91"></path></svg>'
-   }
-];

section.about-us.section-wrapper
  div.about-us__container
    h2.about-us__title.section-title О <span>нас</span>
    p.about-us__descr 
      |Используя передовые нанотехнологии, мы разработали полный спектр керамических покрытий, предназначенных для решения широкого круга задач.
      br
      br
      |Благодаря таким качествам, как твердость 9H, постоянная и высокая гидрофобность, а также устойчивость к химическим веществам, окислению и коррозии, УФ-излучению и граффити, продукты пользуются доверием профессионалов во всем мире.
    ul.about-us__feature-card-list
      each card in cards
        +feature-card(card.title, card.descr, card.icon)