@use "../../styles/vars";

.benefit-text-card {
  &__title {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: var(--main-pink);
    }
  }
  
  &__descr {
    max-width: 350px;
    line-height: 1.4;
    font-size: 17px;
  }
}

@media (max-width: vars.$tab-width) {
  .benefit-text-card {
    &__descr {
      max-width: initial;
    }
  }
}

@media (max-width: vars.$mob-width) {
  .benefit-text-card {
    &__title {
      font-size: 16px;
    }
    
    &__descr {
      font-size: 14px;
    }
  }
}