
section.hero.section-wrapper
  div.hero__container
    div.hero__slider
      include slides/slide-1
      +hero-slide-1('Покрытие №1 на основе ионообменной технологии', 'Задаем тренды в сфере детализации')