.hero {
  padding-block: calc(var(--section-offset) * 2);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/about-us-background.png");
  
  &__title {
    color: var(--white);
    max-width: 45ch;
  }
  
  &__descr {
    max-width: 65ch;
    color: var(--white);
  }
  
  &__img {
    width: 50%;
    height: 100%;
  }
}