.hero {
  padding-block: calc(var(--section-offset) * 2);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/about-us-background.png");
  background-attachment: fixed;
  
  &__title {
    color: var(--white);
    max-width: 35ch;
  }
  
  &__descr {
    max-width: 65ch;
    color: var(--white);
  }
  
  &__img {
    width: 50%;
    height: 100%;
  }
}