section.hero.section-wrapper
  div.hero__container
    h2.hero__title.section-title Компания <span>Nanoshine LTD</span> - производитель мультифункциональных защитных покрытий для любых поверхностей<br><br>
    p.hero__descr.text 
      |На основе многолетнего опыта была создана и в 2010 году запущена в производство линейка защитных составов серии <span>Ceramic Pro</span> для поверхностей автомобилей, воздушного и морского транспорта
      |<br><br>Покрытия <span>Ceramic Pro</span> так же активно применяются в производстве, нефтяной промышленности, в строительстве и быту. Их можно наносить на такие поверхности как краска, стекло, сплавы. ткань, кожа,пластик, резина и многое другое.