div.feedback__content
  h3.feedback__content-title Работаем по всему Узбекистану
  h4.feedback__content-subtitle хотите стать партнером?
  p.feedback__content-descr Оставляйте заявку прямо сейчас и мы свяжемся с Вами в ближайшее время