@use "src/styles/mixins";

.other-news {
  padding-bottom: var(--section-offset);
  
  &__title {
    margin-bottom: var(--section-title-offset);
  }
  
  &__list {
    @include mixins.flex(null, null, row, wrap);
    gap: 30px;
    
    * > li {
      flex-basis: 48%;
    }
  }
}