include ../../../components/back-page-button/index

section.preview.section-wrapper
  +back-page-button("Каталог", "/catalog")
  div.preview__container
    img.preview__product-img(src="/images/ion-base-coat.png")
    div.preview__product-info
      h2.preview__product-title.section-title Ceramic Pro <span>ION Base Coat</span>
      p.preview__product-descr.text <span>ION Base Coat</span> — это прозрачное нанокерамическое покрытие с превосходной стойкостью к истиранию. Это покрытие первой ступени линейки продуктов ION.<br><br>Идеальное средство ухода за автомобилем и мототехникой в Узбекистане. Сохранит кузов от сухого горячего воздуха и сильного солнечного излучения.
      div
        h3.preview__direction Предназначение:
        p.preview__direction-value.text <span>Авто-мото</span> техника
      button.preview__price-button.pink-button(data-modal-form) Узнать цену