section.preview.section-wrapper
  a(href="/catalog").preview__back-button 
    <svg width="70" height="24" viewBox="0 0 70 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.93934 10.9393C0.353553 11.5251 0.353553 12.4749 0.93934 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.93934 10.9393ZM2 13.5H70V10.5H2V13.5Z" fill="#EC1D91"/>
    </svg>
    |Каталог
  div.preview__container
    img.preview__product-img(src="/images/ion-base-coat.png")
    div.preview__product-info
      h2.preview__product-title.section-title Ceramic Pro <span>ION Base Coat</span>
      p.preview__product-descr.text <span>ION Base Coat</span> — это прозрачное нанокерамическое покрытие с превосходной стойкостью к истиранию. Это покрытие первой ступени линейки продуктов ION.<br><br>Идеальное средство ухода за автомобилем и мототехникой в Узбекистане. Сохранит кузов от сухого горячего воздуха и сильного солнечного излучения.
      div
        h3.preview__direction Предназначение:
        p.preview__direction-value.text <span>Авто-мото</span> техника
      button.preview__price-button.pink-button(data-modal-form) Узнать цену