@use 'src/styles/mixins';
@use 'src/styles/vars';

@use "select-lang/index";

@use '../nav/nav';

.header {
  position: absolute;
  z-index: 100;
  
  &__burger-button {
    display: none;
  }
  
  &__top {
    @include mixins.flex(null, center);
    padding-block: 15px;
  }
  
  .logo {
    svg {
      height: 40px;
    }
  }
  
  &__connect-button {
    border: 1px solid var(--mid-grey);
    padding: 5px 30px;
    color: var(--white);
    transition: mixins.transition(var(--tr-dur), var(--tr-tf), color, background-color);
    font-weight: 100;
    white-space: nowrap;
    
    &:is(:hover, :active) {
      background-color: var(--white);
      color: var(--black);
    }
  }
  
  hr {
    margin-bottom: 20px;
  }
}

@media (max-width: vars.$tab-width) {
  .header {
    &__connect-button {
      display: none;
    }
    
    &__burger-button {
      display: block;
    }
  }
}

@media (max-width: vars.$mob-width) {
  .header {
    &__burger-button {
      margin-left: auto;
    }
    
    .logo {
      height: 30px;
    }
    
    hr {
      display: none;
    }
    
    .select-lang {
      display: none;
    }
  }
}