@use 'src/styles/mixins';
@use 'src/styles/vars';
@use "select-lang/index";
@use '../nav/nav';

.header {
  min-width: 375px;
  z-index: 100;
  background-color: black;
  
  &__burger-button {
    display: none;
  }
  
  &__top {
    position: relative;
    @include mixins.flex(null, center);
    padding-block: 20px;
    z-index: 100;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      height: 100%;
      right: -50vw;
      left: -50vw;
      background: var(--white) url('../../assets/Vector.png');
      background-repeat: repeat;
      background-size: contain;
      z-index: -1;
    }
  }

  &__bottom {
    padding-block: 20px;
  }

  .logo {
    svg {
      height: 40px;
    }
  }

  .sertification {
    margin-right: 20px;
    margin-left: auto;
    padding: 5px 30px;
    border: 1px solid var(--main-pink);
  }

  .callback {
    margin-right: 20px;
  }
  
  &__connect-button {
    border: 1px solid var(--mid-grey);
    padding: 5px 30px;
    color: var(--black);
    transition: mixins.transition(var(--tr-dur), var(--tr-tf), color, background-color);
    font-weight: 100;
    white-space: nowrap;
    
    &:is(:hover, :active) {
      background-color: var(--black);
      color: var(--white);
    }
  }
}

@media (max-width: vars.$tab-width) {
  .header {
    &__connect-button {
      display: none;
    }
    .sertification {
      display: none;
    }
    
    &__bottom {
      display: none;
    }
    
    &__burger-button {
      display: block;
      margin-left: auto;
      &:active {
        & svg line {
          stroke: var(--main-pink);
        }
      }
    }
    
    .select-lang {
      display: none;
    }

    hr {
      display: none;
    }
  }
}

@media (max-width: vars.$mob-width) {
  .header {
    .logo {
      height: 30px;
    }
    
    hr {
      display: none;
    }
    
    .select-lang {
      display: none;
    }
  }
}