header.header.section-wrapper
  div.header__container
    div.header__top
      include ../logo/index
      include ../select-lang/index
      button.header__connect-button Связаться с нами

    div.header__bottom
    