@use 'src/styles/mixins';
@use "select-lang/index";

.header {
  position: absolute;
  z-index: 100;
  &__top {
    @include mixins.flex(null, center);
    padding-block: 15px;
  }
  
  .logo {
    svg {
      height: 40px;
    }
  }
  
  &__connect-button {
    border: 1px solid var(--mid-grey);
    padding: 5px 30px;
    color: var(--white);
    transition: mixins.transition(var(--tr-dur), var(--tr-tf), color, background-color);
    font-weight: 100;
    white-space: nowrap;
    
    &:is(:hover, :active) {
      background-color: var(--white);
      color: var(--black);
    }
  }
  
  hr {
    margin-bottom: 20px;
  }
  
  &__nav {
    
    &-list {
      @include mixins.flex(space-evenly);
      @include mixins.font(12px, 300, null, var(--white));
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &-item {
      border-bottom: 1px solid transparent;
      transition: border-color 200ms ease-in;
      &:is(:hover, :active) {
        border-color: var(--mid-grey);
        color: white;
      }
    }
  }
  
}