@use 'slide-one/slide-one';
@use 'slide-two/slide-two';
@use 'slide-three/slide-three';
@use 'slide-four/slide-four';

@use 'src/styles/vars';

.hero {
  // padding-block: 80px;
  // padding-top: 150px;
  background: var(--black-white-gradient);
  
  .splide__pagination {
    grid-column: 1 / -1;
    bottom: 30px;
    
    .is-active {
      background-color: var(--main-pink);
    }
  }
  
  --title: 45px;
  --descr: 25px;
  --digit: 120px;
  
  @media (max-width: vars.$tab-width) {
    --title: 38px;
    --descr: 20px;
    --digit: 100px;
  }

  @media (max-width: vars.$mob-width) {
    --title: 28px;
    --descr: 18px;
    --digit: 80px;
  }
}

@media (max-width: vars.$mob-width) {
  // .hero {
  //   padding-top: 110px;
  // }
}
