doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet")

    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png")

    block title
  body
    <style>
      |.loader {
      |  width : 72px;
      |  height: 72px;
      |  display: inline-block;
      |  position: relative;
      |}
      | .loader::after, .loader::before {
      |    content: '';
      |    width : 72px;
      |    height: 72px;
      |    border:2px solid white;
      |    position: absolute;
      |    left:0;
      |    top: 0;
      |    animation: scaleOut 2s ease-in-out infinite;
      |  }
      |  .loader::after {
      |    border-color: #EC1D91;
      |    animation-delay: 1s;
      |  }
      |
      |@keyframes scaleOut {
      |   0% { transform: scale(0);}
      |   100% { transform: scale(1)}
      |}
      |.page-loader {
      |   position: fixed;
      |   width: 100vw; 
      |   height: 100vh; 
      |   background-color: black; 
      |   z-index: 1000; 
      |   top: 0;
      |   left: 0;
      |   display: flex; 
      |   align-items: center; 
      |   justify-content: center; 
      |}
    </style>
    section.page-loader
      span.loader
    include burger-menu/index

    include header/header
    main
      block content
      include footer/footer
    block scripts