@use "src/styles/vars";

.label-nav {
  background: var(--black) url('../../assets/Vector-alfa.png');
  background-size: cover;
}

@media (max-width: vars.$desc-width-s) {
  .label-nav {
    background-size: contain;
  }
}

@media (max-width: vars.$desc-width-s) {
  .label-nav {
    background-size: 250vw;
  }
}

@media (max-width: vars.$tab-width) {
  .label-nav {
    background-size: 300vw;
  }
}

@media (max-width: vars.$mob-width) {
  .label-nav {
    background-size: 450vw;
  }
}