footer.footer.section-wrapper
  div.footer__container
    div.footer__top
    //  icon-link component
    | icon-link component
    | icon-link component
    | icon-link component
  div.footer__bottom
        //nav component
        |nav
        //socials component
        |socials
        //logo component
        |logo