@use 'src/styles/mixins';
@use 'src/styles/vars';

@use "partners/partners";

.footer {
  background-color: black;

  &__contacts {
    @include mixins.flex(null, null, column);
    gap: 15px;
    flex-basis: 45%;
    max-width: 40ch;
    
    .footer__links {
      @include mixins.flex;
      gap: 5px;
    }
    
    & > * {
      @include mixins.font(12px, 300, null, var(--dark-grey));
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    address {
      font-style: normal;
    }
    
    span {
      color: var(--main-pink);
    }
    
    &-title {
      color: var(--white);
    }
    
    &-link {
      display: block;
      
      
      transition: color var(--tr-dur) var(--tr-tf);
      &:hover {
        color: var(--main-pink);
      }
    }
  }
  
  .partners__splide {
    img {
      object-fit: contain;
    }
  }

  &__bottom {
    @include mixins.flex(space-between, center, null, wrap);
    padding-block: 40px;
    gap: 30px;
  }
  
  &__img {
    object-position: right;
  }
  
  &__nav {
    height: fit-content;
    &-list {
      @include mixins.flex(null, null, column);
      column-gap: 80px;
    }
    &-item {
      &-link {
        @include mixins.font(12px, 300, 2, var(--dark-grey));
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 1px solid transparent;
        &:hover {
          color: var(--main-pink);
        }
      }
    } 
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
  }

  .logo__img {
    display: none;
  }


  .logo {
    display: flex;
    gap: 10px;
  }

  #logo-icon,
  .logo__kavaca{
    display: inline-block;
    width: 60px;
    height: 60px;
  }

  @media (max-width: vars.$tab-width) {
    & {
      &__bottom {
        gap: 0;
        row-gap: 50px;
      }
      
      &__nav {
        flex-basis: 35%;
        &-list {
          max-height: none;
        }
        &-item {
          &-link {
            line-height: 2;
          }
        }
      }
      
      &__contacts {
        flex-basis: 55%;
      }
      
      &__logo-wrapper {
        flex-basis: 100%;
      }
    }
  }
  
  @media (max-width: vars.$mob-width) {
    & {
      &__bottom {
        justify-content: center;
      }      
      
      &__contacts {
        order: -1;
        flex-basis: 100%;
        & * {
          text-align: center;
        }
      }
      
      &__nav {
        flex-basis: 100%;
        
        &-item {
          text-align: center;
        }
      }
      
      &__logo-wrapper {
        @include mixins.flex(center, center, column);
        flex-basis: 100%;
      }
    }
  }
  
  @media (max-width: vars.$tab-width-l) {
    & {
      
      &__bottom {
        flex-wrap: wrap;
      }
      .partners__splide {
        flex-basis: 100%;
        order: -1;
        
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
