include ../nav/index
  
footer.footer.section-wrapper
  div.footer__container
    div.footer__bottom
      +nav('footer')
      div.footer__logo-wrapper
        include ../logo/index
        include ../socials/index