@use 'src/styles/mixins';
@use 'src/styles/vars';

@use "partners/partners";

.footer {
  background-color: black;
  
  .partners__splide {
    img {
      object-fit: contain;
    }
  }

  &__bottom {
    @include mixins.flex(space-between, center);
    padding-block: 40px;
    gap: 30px;
  }
  
  &__img {
    object-position: right;
  }
  
  &__nav {
    height: fit-content;
    &-list {
      @include mixins.flex(null, null, column);
      column-gap: 80px;
    }
    &-item {
      &-link {
        @include mixins.font(12px, 300, 2, var(--dark-grey));
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 1px solid transparent;
        &:hover {
          color: var(--main-pink);
        }
      }
    } 
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
  }

  .logo__img {
    display: none;
  }

  .logo {
    display: flex;
    gap: 10px;
  }

  #logo-icon,
  .logo__kavaca{
    display: inline-block;
    width: 60px;
    height: 60px;
  }

  @media (max-width: vars.$tab-width) {
    & {
      &__nav {
        &-list {
          max-height: none;
        }
        &-item {
          &-link {
            line-height: 2;
          }
        }
      }
    }
  }
  
  @media (max-width: vars.$mob-width) {
    & {
      &__logo-wrapper {
        @include mixins.flex(center, center, column)
      }
    }
  }
  
  @media (max-width: vars.$tab-width-l) {
    & {
      
      &__bottom {
        flex-wrap: wrap;
      }
      .partners__splide {
        flex-basis: 100%;
        order: -1;
        
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
