@use 'src/styles/mixins';
@use 'src/styles/vars';

.footer {
  background: var(--black-white-gradient);

  &__bottom {
    @include mixins.flex(space-between, center);
    padding-block: 40px;
  }
  
  &__nav {
    height: fit-content;
    &-list {
      @include mixins.flex(null, null, column, wrap);
      max-height: 150px;
      column-gap: 80px;
    }
    &-item {
      &-link {
        @include mixins.font(14px, 300, 3, var(--dark-grey));
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 1px solid transparent;
        &:hover {
          color: var(--main-pink);
        }
      }
    } 
  }
  
  .logo {
    height: 60px;
    width: 243px;
    margin-bottom: 20px;
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      &__nav {
        &-list {
          max-height: none;
        }
        &-item {
          &-link {
            line-height: 2;
          }
        }
      }
    }
  }
  
  @media (max-width: vars.$mob-width) {
    & {
      &__logo-wrapper {
        @include mixins.flex(center, center, column)
      }
      
      .logo {
        width: 50px;
      }
    }
  }
}
