include ../nav/index

include ../hr/index
footer.footer.section-wrapper
  div.footer__container
    div.footer__bottom
      +nav('footer')
      include partners/index
      div.footer__logo-wrapper
        img.footer__logo-img(src="/images/logo-white.png" alt="logo img" width=140)
        include ../logo/index
        include ../socials/index