include ../nav/index
  
footer.footer.section-wrapper
  div.footer__container
    include ../hr/index
    div.footer__bottom
      +nav('footer')
      div
        include ../logo/index
        include ../socials/index