@use 'src/styles/mixins';
@use 'src/styles/vars';

.socials {
  @include mixins.flex;
  gap: 15px;
  
  &-link {
    height: 50px;

    svg {
      width: 100%;
      height: 100%;
      path {
        transition: stroke var(--tr-dur) var(--tr-tf);
      }
    }
    
    &:is(:hover, :active, :focus) {
      outline: none;
      svg path {
        stroke: var(--main-pink);
      }
    }
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      &-link {
        height: 40px;
      }
    }
  }

  @media (max-width: vars.$mob-width) {
    & {
      &-link {
        height: 30px;
      }
    }
  }
}