li.splide__slide.slide-three.section-wrapper
  div.slide-three__container  
    h2.slide-three__title Признан профессионалами во всем мире 
    div.slide-three__digit 5000
    div.slide-three__descr компаний выбирают <span>Ceramic pro</span>
    button.primary-button Сотрудничать
      span