@use "src/styles/vars";

.description {
  padding-block: var(--section-offset);
  
  &__title {
    margin-bottom: var(--section-title-offset);
  }
}

@media (max-width: vars.$mob-width) {
  .description {
    &__title {
      text-align: center;
    }
  }
}