section.pre-footer.section-wrapper
  div.pre-footer__container
    div.pre-footer__left
      h2.pre-footer__title ION
        p.pre-footer__title-subtitle-1 BASE COAT
        p.pre-footer__title-subtitle-2 Uzbekistan
      p.pre-footer__descr Иновациия в области ионнообменной технологии
    div.pre-footer__right
      h2.pre-footer__title-right Область применения
      ul.pre-footer__list
        li.pre-footer__list-item  Автомобильная краска 
        li.pre-footer__list-item  Стекло 
        li.pre-footer__list-item  Пластик 
        li.pre-footer__list-item  Метал 
        li.pre-footer__list-item  Резина 
        li.pre-footer__list-item  Полированные и хромированные поверхности