section.benefits.section-wrapper
  div.benefits__container
    div.benefits__left
      h2.benefits__title.section-title <span>Ceramic Pro</span> - выдающееся качество
      p.benefits__descr
        | Профессиональная линейка продукции Ceramic Pro создана мировым технологическим лидером компанией Nanoshine LTD (Тайвань). В ее основе - уникальные керамические молекулярные соединения (нанокерамика), образующие прочное покрытие.<br><br>
        | Ceramic Pro обеспечивает непревзойденные возможности сохранения поверхностей автомобилей, яхт, катеров, воздушной техники, строительных и промышленных объектов, одежды, аксессуаров и других. Гарантирует безупречный внешний вид, защиту и бережное отношение к любой поверхности
    div.benefits__right
      include slider/index