@use 'src/styles/mixins';
@use 'src/styles/vars';
@use 'src/components/article-card/article';

.news {
  padding-top: var(--section-offset);
  padding-bottom: 40px;
  &__title {
    margin-bottom: var(--section-title-offset);
  }
  
  &__article-list {
    @include mixins.flex(null, stretch, null, wrap);
    gap: 60px;
  }
  
  &__more-link {
    width: fit-content;
    margin-top: 30px;
    margin-inline: auto;
    align-self: center;
    @include mixins.font(null, 700);
    
    &:hover {
      color: var(--main-pink);
    }
  }
  
  @media (max-width: vars.$tab-width) {
    & {
      &__article-list {
        gap: 30px;
      }
    }
  }
}