div.partners__splide.splide.full-width.section-wrapper
  h3.section-title.partners__title Партнеры
  div.splide__track
    ul.splide__list
      li.splide__slide
        a.partners__link(href="#")
          img.partners__logo(src="/images/blesk-pro.png", alt="Логотип партнеров" width=100 height=100)
      li.splide__slide
        a.partners__link(href="#")
          img.partners__logo(src="/images/brooklyn.png", alt="Логотип партнеров" width=100 height=100)
      li.splide__slide
        a.partners__link(href="#")
          img.partners__logo(src="/images/star-shine.png", alt="Логотип партнеров" width=100 height=100)