section.hero.section-wrapper
  div.hero__container
    div.hero__contacts-wrapper.contacts
      h2.contacts__title.section-title Контакты
      p.contacts__descr.text Официальный представитель продукции <span>Ceramic Pro</span> на территории Республики  Узбекистан<br><br>
        |Доставка заказов осуществляется по всему Узбекистану  различными курьерскими компаниями.
      address.contacts__address.text Наш адрес: Город Ташкент, Мирзо Улугбекский район, улица Хамида Алимджана 7
      p.contacts__descr.text По всем вопросам обращайтесь по номеру: 
        a.contacts__link(href="tel:+998900320119") +998 (90) 0320119
      p.contacts__descr.text Email: 
        a.contacts__link(href="mailto:ceramicpro_uzbekistan@mail.ru") ceramicpro_uzbekistan@mail.ru