section.sertification.section-wrapper-text
  div.sertification__container
    h3.sertification__title Сертификация
    ul.sertification__list.text
      li.sertification__list-item Все свойства продукции сертифицированы SGS Laboratories.
      li.sertification__list-item Экологическая безопасность продукции сертифицирована по стандарту REACH в SGS Laboratories.
      li.sertification__list-item Ceramic Pro Marine сертифицирована Международной морской организацией IMO как экологически чистое решение для защиты от обрастания.
      li.sertification__list-item Продукция прошла добровольную сертификацию по стандартам ГОСТ РФ и имеет сертификаты соответствия на всю продукцию линейки Ceramic Pro.
      li.sertification__list-item Испытание буксирного бака — снижение сопротивления воды на 3,3%.
      li.sertification__list-item Испытание в аэродинамической трубе - снижение аэродинамического сопротивления в воздухе на 1,4-3,0%.
      li.sertification__list-item Внутренние испытания - Устойчивость к солям, щелочам, кислотам и другим агрессивным химическим веществам.