@use "src/styles/mixins";
@use "src/styles/vars";

.sertification {
  background-color: white;
  padding-block: var(--section-offset);
  &__container {
    //background-color: white;
    justify-self: center;
  }
  
  &__title {
    padding-bottom: 15px;
    color: var(--main-pink);
    text-align: center;
    border-bottom: 1px solid var(--greyEC);
  }
  
  &__list {
    list-style: circle;
    li {
      padding-block: 10px;
      padding-right: 40px;
      margin-left: 50px;
      &::marker {
        color: var(--main-pink);
      }
    }
    li:first-child {
      padding-top: 30px;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
}

@media (max-width: vars.$mob-width) {
  .sertification {
    &__title {
      font-size: 16px;
      padding-block: 10px;
    }
    
    &__list {
      li {
        padding-block: 7px;
        padding-right: 20px;
        margin-left: 30px;
      }
      li:first-child {
        padding-top: 15px;
      }
      li:last-child {
        padding-bottom: 15px;
      }
    }
  }
}