li.splide__slide.slide-one.section-wrapper
  div.slide-one__container  
    h2.slide-one__title Покрытие №1 на основе ионообменной технологии
    h2.slide-one__title.slide-one__title--mob Покрытие №1
    p.slide-one__descr Задаем тренды в сфере детализации
    button.primary-button(data-modal-form) Сотрудничать
      span
    include ../../../../components/socials/index