section.form-sertification.section-wrapper-text
  div.form-sertification__cotnainer
    h2.form-sertification__title.section-title Ну что, посатрудничаем?!
    form.form-sertification__form.modal-form
      input.form-sertification__input.modal-form__input(placeholder="Ваше имя")
      input.form-sertification__input.modal-form__input(placeholder="Номер телефона")
      textarea.form-sertification__text-area.modal-form__input(placeholder="Сообщение" rows=7)
      button.form-sertification__button.pink-button Оставить заявку