@use 'src/styles/mixins';
@use 'src/styles/vars';

.news__article-item {
  @include mixins.flex(null, null, column, wrap);
  gap: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 45%;
  padding: 165px 30px 30px;
  &-title {
    @include mixins.font(22px, 700, null, white);
  }
  
  &-link {
    color: var(--main-pink);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    width: fit-content;
    line-height: 1;
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
    
    &:hover {
      border-color: var(--main-pink);
    }
  }
  
  @media(max-width: vars.$tab-width) {
    & {
      &-title {
        font-size: 18px;
        margin-bottom: auto;
      }
    }
  }

  @media(max-width: vars.$mob-width) {
    & {
      flex-basis: 100%;
    }
  }
}